[submodule "externals/dotenv-cpp"]
	path = externals/dotenv-cpp
	url = https://github.com/laserpants/dotenv-cpp.git
[submodule "externals/vcpkg"]
	path = externals/vcpkg
	url = https://github.com/microsoft/vcpkg.git
